In [3]:
import pandas as pd
from faker import Faker
import random
import os


# Initialize Faker to generate random data
fake = Faker()

# Set the number of rows for the dataframe
num_rows = 60000

# Generate random IDs and dates
ids = [fake.uuid4() for _ in range(num_rows)]
dates = [fake.date_between(
    start_date='-1y', end_date='-1m').strftime('%Y-%m-%d') for _ in range(num_rows)]

# Generate random metric values between 0 and 10
metric_values = [round(random.uniform(0, 10), 2) for _ in range(num_rows)]
# Generate random country codes
country_codes = [fake.country_code() for _ in range(num_rows)]

# Generate random categories
categories = [random.choice(
    ['Category A', 'Category B', 'Category C']) for _ in range(num_rows)]
now = pd.Timestamp.now()

# Create the dataframe
ultra_large_df = pd.DataFrame({'unique_key': ids,
                               'date': dates,
                               'metric_value': metric_values,
                               'country_code': country_codes,
                               'category': categories,
                               'created_at': [now for _ in range(num_rows)],
                               'updated_at': [now for _ in range(num_rows)]})

# Print the dataframe
print(ultra_large_df)

                                 unique_key        date  metric_value  \
0      f8d61a84-ddc6-4281-be01-ca154cf2cf7d  2023-01-19          1.87
1      c99774a8-f494-4c37-b4e7-5bd14a7c8ecf  2023-04-04          6.10
2      83626417-02cf-4506-9529-e5cc70b5ce58  2022-12-23          0.67
3      20ccf1cd-a447-4bc2-b79f-664e6352169e  2023-01-01          8.84
4      8fc5cf76-6b97-4a35-bec9-6fb809bdb1cf  2023-04-01          5.79
...                                     ...         ...           ...
59995  c7329ddc-045a-4448-ad56-d399ebb81e99  2023-08-03          8.86
59996  52e495fe-50da-4f8e-8666-52a58d875359  2023-06-13          1.33
59997  0a6afde5-07b0-47fc-a42e-31fb488e5c59  2023-05-19          4.85
59998  da7f4bed-0295-4c6c-8281-52b52d4d670f  2023-06-25          6.94
59999  46fc6b13-b266-4278-8c9c-747a9bfe051e  2023-03-28          2.41

      country_code    category                 created_at  \
0               MX  Category B 2023-10-25 11:08:02.955830
1               BO  Category A 2023-10-25 11:08:02.955830
2               GM  Category C 2023-10-25 11:08:02.955830
3               SL  Category C 2023-10-25 11:08:02.955830
4               JO  Category C 2023-10-25 11:08:02.955830
...            ...         ...                        ...
59995           PE  Category C 2023-10-25 11:08:02.955830
59996           CR  Category C 2023-10-25 11:08:02.955830
59997           HR  Category C 2023-10-25 11:08:02.955830
59998           ID  Category B 2023-10-25 11:08:02.955830
59999           AO  Category B 2023-10-25 11:08:02.955830

                      updated_at
0     2023-10-25 11:08:02.955830
1     2023-10-25 11:08:02.955830
2     2023-10-25 11:08:02.955830
3     2023-10-25 11:08:02.955830
4     2023-10-25 11:08:02.955830
...                          ...
59995 2023-10-25 11:08:02.955830
59996 2023-10-25 11:08:02.955830
59997 2023-10-25 11:08:02.955830
59998 2023-10-25 11:08:02.955830
59999 2023-10-25 11:08:02.955830

[60000 rows x 7 columns]

In [4]:
from sqlalchemy import create_engine, text
engine = create_engine('postgresql://sammyteillet@localhost:5432/dbt-dummy-project')
ultra_large_df.to_sql(name='source_bookings', con=engine, if_exists='replace', index=False)

1000