In [4]:
import pandas as pd
import numpy as np
import random 

from sqlalchemy import create_engine
engine = create_engine('postgresql://sammyteillet@localhost:5432/dbt-dummy-project')

query = 'SELECT * FROM source_bookings'
df = pd.read_sql(query, engine)
print(df.head())

random_indices_metric = np.random.choice(df.index, size=100, replace=False)
print(random_indices_metric)
# Update metric value with random values between 0 and 10
df.loc[random_indices_metric, 'metric_value'] = [round(random.uniform(0, 10),2) for _ in range(100)]

df.to_sql(name='source_bookings', con=engine, if_exists='replace', index=False)

                             unique_key        date  metric_value  \
0  0d93e5f5-990f-4f64-b6a5-278a110b5b41  2022-10-05          3.91
1  a30b1678-7a10-459b-8942-a33235b5750c  2022-11-30          6.50
2  6e52168c-7773-4243-8768-5c5603d2dac2  2022-12-12          1.80
3  ac17fe27-a7f1-49bf-80aa-5b5d1c317fb8  2023-03-05          1.14
4  d01d9e98-6bed-4dcc-b3ae-8bc5765c1b24  2023-07-09          9.97

  country_code    category
0           KG  Category C
1           EC  Category C
2           SA  Category C
3           IQ  Category A
4           KN  Category C
[59198 49366  2940 38456 31092 21634 48850 11695 46374 38223 32183 26237
 47720 31988 56246  6598 52910 48292 46985 12396  7339 52251 35004 53693
 40094 30302 21119 33167 58284 59159  7899 57910 38902 57890 17779 41175
 16689 36181 57552 29642  2797 20488 13375 25507 56655 36259 21217 29084
 46627 50986 29410   741 59197 32325 47741  8678 50745  2638 25156  3897
  3843 50077 53431 19798 42823 49349 45809 55206 29087 18020 35661 44193
 59208 23093 31406 20422 16289 32865 59140 57305 38824 43141 12219 50570
 25580 12408 18312  5216 29873 58847 35547 58894 34915 23909 56833 46429
  1997 50304 41602 10670]

1000